@font-face {
  font-family: $roboto-font;
  src: url("../../assests/fonts/Roboto-Light.ttf");
}
html {
  font-size: 62.5%;
}
body {
  font-family: $roboto-font, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  min-height: 100vh;
  box-sizing: border-box;
}
