.content {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 5% 95%;
  &__nav {
    background-color: $bg-color-nav;
    cursor: pointer;
    transition: 0.3s;
    &:hover > *,
    &:hover > *::after,
    &:hover > *::before {
      transition: 0.3s;
      box-shadow: 0.1rem 0.2rem 0.5rem #333;
    }
    &--icon {
      transition: 0.3s;
      @extend %icon;
      display: block;
      margin: 0 auto;
      margin-top: 4rem;
      position: relative;
      &::after {
        @extend %icon;
        @extend %icon-abi;
        @include icon-ab(-1.4rem);
      }
      &::before {
        @extend %icon;
        @extend %icon-abi;
        @include icon-ab(1.4rem);
      }
    }
  }
  &__container {
    .header {
      &__hero {
        display: grid;
        grid-template-columns: 70% 30%;
        height: 80vh;
        &--introduction {
          background-image: linear-gradient(
              to right bottom,
              rgba(16, 29, 44, 0.93),
              rgba(16, 29, 44, 0.8)
            ),
            url("../../assests/img/hero.jpeg");
          background-repeat: no-repeat;
          background-size: contain;
          background-attachment: fixed;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, 1fr);
          padding: 5rem;
          .logo__container {
            height: 3rem;
            justify-self: center;
            &--img {
              width: 13rem;
            }
          }
          .title {
            margin-left: 5rem;
            &__container {
              &--textSub {
                color: $bg-color-nav;
                font-size: 2rem;
              }
              &--text {
                font-size: 4rem;
                color: white;
                letter-spacing: 0.4rem;
              }
              &--btn {
                .title__btn {
                  color: white;
                }
              }
            }
          }
          .supporters {
            margin-inline: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            align-self: end;
            &__text {
              font-size: 1.6rem;
              color: hsla(0, 0%, 100%, 0.8);
              position: relative;
              width: 100%;
              padding: 0 2rem;
              text-align: center;
              font-weight: 500;
              &::after {
                content: "";
                width: 39rem;
                height: 0.2rem;
                background-color: rgba(255, 255, 255, 0.6);
                position: absolute;
                border-radius: 5.1rem;
                top: 1.2rem;
                right: 0;
              }
              &::before {
                content: "";
                width: 39rem;
                height: 0.2rem;
                background-color: rgba(255, 255, 255, 0.6);
                position: absolute;
                border-radius: 5.1rem;
                top: 1.2rem;
                left: 0;
              }
            }
            &__logos {
              width: 100%;
              display: flex;
              justify-content: space-around;
              opacity: 0.8;
              &--logo1 {
                height: 3rem;
                width: 10rem;
              }
              &--logo2 {
                height: 3rem;
                width: 10rem;
              }
              &--logo3 {
                height: 3rem;
                width: 20rem;
              }
              &--logo4 {
                height: 3rem;
                width: 10rem;
              }
            }
          }
        }
        &--realtors {
          background-color: $bg-color-realtors;
        }
      }
      &__content {
      }
    }
    .main {
    }
    .footer {
    }
  }
}
